@import "../../estilos/colores.scss";
@import "../../estilos/fuentes.scss";



#f-main{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $primary;
  @include MenuFont(24px);
  & .row-1{
    display: grid;
    justify-content: space-between;
    .f-button{

      background-color: $primary;
      @include MenuFont(20px);
      &:hover{
        background-color: $bg-highlight;
        color: $buttons;
      }
    }
  }
}
