<mat-toolbar class="main" >
  <mat-toolbar-row class="row-1">
    <span>Visita a Londres</span>
  </mat-toolbar-row>
  <mat-toolbar-row class="row-2">
    <button mat-flat-button class="h-button" routerLink="/inicio">
      <mat-icon>home</mat-icon>Home
    </button>
    <button mat-flat-button class="h-button" routerLink="/galeria">
      <mat-icon>home</mat-icon>Galería
    </button>
    <button mat-flat-button class="h-button" routerLink="/divisas">
      <mat-icon>home</mat-icon>Divisas
    </button>
  </mat-toolbar-row>
</mat-toolbar>
